[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = "*"
Sphinx = "*"

[packages]
awscli = "*"
boto3 = "*"
pandas = "*"
pandas_profiling = "<2.10"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
ipynb = "*"
beautifulsoup4 = "==4.7.1"
papermill = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = false

[thoth.allow_prereleases]
black = true
