[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = "*"
Sphinx = "*"

[packages]
src = {editable = true, path = "./"}
awscli = "*"
pandas = "*"
pandas_profiling = "<2.10"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"

[requires]
python_version = "3.6"
