[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
coverage = "*"
Sphinx = "*"

[packages]
awscli = "*"
boto3 = "*"
pandas = "*"
pandas_profiling = "<2.10"
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
ipython = "*"
ipynb = "*"
beautifulsoup4 = "==4.7.1"
papermill = "*"
python-dotenv = "*"
black = "==20.8b1"
pyarrow = "*"
prometheus-api-client = "*"
google-cloud-storage = "*"
python-bugzilla = "*"
wordcloud = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = false

[thoth.allow_prereleases]
black = true
